<div class="content" style="direction:rtl">
    <AddUnknownPackage v-if="state==1"></AddUnknownPackage>
    <AddCustmorPackage v-if="state==2"></AddCustmorPackage>
    <div class="row" v-if="state==0">

        <div class="col-md-12">

            <div class="card">

                <div class="card-header">

                    <h4 class="card-title"><i class="nc-icon nc-bank" style="color:#ef8157 ;margin-left: 5px;" ></i> إدارة الإشتراكات الغير معروفة </h4>

                </div>

                <div class="card-body">




                    <br /><br />

                          <div v-if="unkownPackage==0">
                              <br />
                              <br />
                              <el-alert type="info" style="font-size: 20px;margin-right: 14px;line-height: 18px;" title="">
                                  لم يتم العتور علي باقات غير معروفة
                              </el-alert>
                              <br />
                              <br />
                          </div>

                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%" v-if="unkownPackage!=0">

                        <thead>

                            <tr class="text-primary">
                                <th>#</th>
                                <th>رقم الخدمة </th>
                                <th>عدد الرسائل المرسلة  </th>
                                <th>تاريخ الإرسال</th>
                                <th class="text-center">الإعدادات</th>
                            </tr>

                        </thead>

                        <tbody style="text-align:right">

                            <tr v-for="item,index in unkownPackage" style="font-size:11.3pt;">
                                <td>{{index+1 }} </td>
                                <td>{{item.code}}</td>
                                <td>{{item.count}}</td>
                                <td>{{item.createcdOn | moment}}</td>

                                <td class="text-center">
                                    <!--<a class="btn btn-info btn-link btn-icon btn-sm like"
                                       @click.prevent="add(item)"
                                       title="إضافة الخدمة لعميل"
                                       href="#">

                                        <i class="fa fa-plus" style="font-size:15px"></i>
                                    </a>

                                    <a class="btn btn-success btn-link btn-icon btn-sm like"
                                       @click.prevent="addCustomr(item)"
                                       title="إضافة عميل جديد بهذه الباقة"
                                       href="#">

                                        <i class="fa fa-user" style="font-size:15px"></i>
                                    </a>-->

                                    <a class="btn btn-danger btn-link btn-icon btn-sm like"
                                       @click.prevent="delte(item.id)"
                                       title="حدف"
                                       href="#">

                                        <i class="fa fa-trash" style="font-size:15px"></i>
                                    </a>



                                </td>

                            </tr>

                        </tbody>

                    </table>
                    <div class="row" dir="ltr" v-if="unkownPackage!=0">

                        <div class="col-sm-12 col-md-6">

                            <div class="disabled-sorting text-right"
                                 id="datatable_info"
                                 aria-live="polite"
                                 role="status">

                                Showing {{pageNo}} to {{pageSize}} of {{pages}} entries

                            </div>

                        </div>
                        <div class="col-sm-12 col-md-6">

                            <div class="disabled-sorting text-left"
                                 id="datatable_info"
                                 aria-live="polite"
                                 role="status">

                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="getUnkownPackage($event)">
                                </el-pagination>

                            </div>

                        </div>



                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

       