
<div class="content" style="direction:rtl">
    <div class="row" v-if="state==0" >
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><i class="nc-icon nc-tv-2" style="color:#ef8157;margin-left: 10px;"></i>إدارة الخدمات </h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">

                        <div class="row" v-if="Services==0">

                            <div class="col-md-10">
                                <div class="form-group">
                                    <br /><br />
                                    <el-alert style="font-size: 35px;" title="عفــوا! لاتوجد بيانات للخدمات"
                                              type="info">
                                    </el-alert>
                                </div>
                            </div>
                        </div>

                        <div class="row" v-if="Services!=0">
                            <div class="col-md-3">

                                <el-select style="width: 100%;" filterable placeholder="البحت" v-model="SearchTypeSelected" @change="GetServices()">

                                    <el-option v-for="item in SearchType"
                                               :key="item.id"
                                               :label="item.name"
                                               :value="item.id">
                                    </el-option>

                                </el-select>
                            </div>

                            <div class="col-md-3" v-if="SearchTypeSelected==1">

                                <el-select style="width: 100%;" filterable placeholder="إسم الشركة" v-model="SearchId" @change="GetServices();">

                                    <el-option v-for="item in PartnersPhones"
                                               :key="item.id"
                                               :label="item.companyName"
                                               :value="item.id">
                                    </el-option>

                                </el-select>
                            </div>

                            <div class="col-md-3" v-if="SearchTypeSelected==2">

                                <el-select style="width: 100%;" filterable placeholder="رقم الهاتف" v-model="SearchId" @change="GetServices()">

                                    <el-option v-for="item in PartnersPhones"
                                               :key="item.id"
                                               :label="item.phone"
                                               :value="item.id">
                                    </el-option>

                                </el-select>
                            </div>

                        </div>



                    </div>
                    <br />
                    <!--{{Services}}-->
                    <br />
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%" v-if="Services!=0">
                        <thead>
                            <tr class="text-primary">
                                <th>#</th>
                                <th>إسم الشريك</th>
                                <th>إسم الخدمة </th>
                                <th>تصنيف الخدمة </th>
                                <th>رقم الخدمة</th>
                                <th>إسم الخدمة</th>
                                <th>شرح عن الخدمة </th>
                                <th>صيغة الرسالة</th>
                                <th>تاريخ الإضافة </th>
                                <th>المستخدم </th>
                                <!--<th>عدد الباقات النشطة </th>-->
                                <!--<th>الحالة</th>-->
                                <th class="disabled-sorting text-right">الإعدادات</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:right">
                            <tr v-for="item,index in Services" style="font-size:11.3pt;">
                                <td>{{index+1 }} </td>
                                <td>{{item.partnerName }} </td>
                                <td>{{item.name}}</td>
                                <td v-if="item.type==1">إسلامية</td>
                                <td v-if="item.type==2">تقافية</td>
                                <td v-if="item.type==3">رياضية</td>
                                <td v-if="item.type==4">منوعات ترفيهية</td>
                                <td v-if="item.type==5">اجتماعية</td>
                                <td v-if="item.type==6">تصنيف اخر</td>
                                <td>{{item.shortCode}}</td>
                                <td>{{item.shortName}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.content}}</td>
                                <td>{{item.createdOn | moment}}</td>
                                <td>{{item.createdBy}}</td>
                                <!--<td>{{item.activePackegeCount}}</td>-->
                                <!--<td v-if="item.status==1"> <span class="badge badge-pill badge-success" style="border-radius: 3px;">نشط</span></td>-->
                                <!--<td v-if="item.status==2"> <span class=" badge badge-pill badge-danger " style="border-radius: 3px;">موقوف</span></td>-->

                                <td class="text-right">

                                    <!--<a title="تعديل البيانات" href="#" class="btn btn-warning btn-link btn-icon btn-sm like" @click.prevent="ViewPartner(item)">
                                        <i class="fa fa-edit" style="font-size:13px"></i>
                                    </a>-->

                                    <!--<a title="إيقاف العميل" href="#" class="btn btn-default btn-link btn-icon btn-sm like" @click.prevent="StopPartner(item.id)">
                        <i class="fa fa-ban" style="font-size:13px"></i>
                    </a>-->

                                    <a title="حدف الخدمة" href="#" class="btn btn-danger btn-link btn-icon btn-sm remove" @click.prevent="DeleteService(item.id)">
                                        <i class="fa fa-times" style="font-size:13px"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="row" dir="ltr" v-if="Services!=0">

                        <div class="col-sm-12 col-md-6">

                            <div class="disabled-sorting text-right"
                                 id="datatable_info"
                                 aria-live="polite"
                                 role="status">

                                Showing {{pageNo}} to {{pageSize}} of {{pages}} entries

                            </div>

                        </div>
                        <div class="col-sm-12 col-md-6">

                            <div class="disabled-sorting text-left"
                                 id="datatable_info"
                                 aria-live="polite"
                                 role="status">

                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetServices($event)">
                                </el-pagination>

                            </div>

                        </div>



                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>

       